<div>
  <div>
    <p>Title</p>
    <p>{{ item.title }}</p>
  </div>
  <div>
    <p>Description</p>
    <p>{{ item.description }}</p>
  </div>
  <div>
    <p>Done: </p>
    <input type="checkbox" #checkbox [checked]="item.done" (change)="handleDoneChange(checkbox.checked)">
  </div>
</div>
