<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <input type="text" formControlName="title">
  <input type="text" formControlName="description">
  <button type="submit">Submit</button>
</form>
